body {
  text-align: center;
  background-color: lightblue;
}

input[type='text'] {
  display: inline;
  width: auto;
}

.hidden {
  display: none;
}

form {
  margin: 1em 0;
}

.pages {
  background-color: #eee;
  max-width: 900px;
  text-align: left;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-left: 12px solid transparent;
}

.pages:hover {
  border-left: 12px solid #0d0d71;
}

.btn {
    margin-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

@media screen and (min-width: 700px) {
  /* remember to change max/min 1024 */
  /*should at least show up somehwere*/
  .btn {
    display: inline-block;
    margin: 0;
  }

}