body {
  text-align: center;
  background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

p a {
  color: #000;
  text-decoration: underline;
}

input[type='text'] {
  display: inline;
  width: auto;
}

.hidden {
  display: none;
}

form {
  margin: 1em 0;
}

.pages {
  background-color: #eee;
  max-width: 900px;
  text-align: left;
  margin-bottom: 1em;
  margin: 1em;
  padding: 20px;
  border-left: 12px solid transparent;
}

.pages:hover {
  border-left: 12px solid #ABCED4;
}

input[type="reset"] {
  display: none;
}

@media screen and (min-width: 700px) {
  /* remember to change max/min 1024 */
  input[type="reset"] {
  display: inline-block;
}

}


@media screen and (min-width: 1024px) {
  /* remember to change max/min 1024 */
  .pages {
    margin-left: auto;
    margin-right: auto;
  }
}