body {
  text-align: center;
  background-color: lightblue;
}

input[type='text'] {
  display: inline;
  width: auto;
}

.hidden {
  display: none;
}

form {
  margin: 1em 0;
}

.pages {
  background-color: #eee;
  max-width: 900px;
  text-align: left;
  margin-bottom: 1em;
  margin: 1em;
  padding: 20px;
  border-left: 12px solid transparent;
}

.pages:hover {
  border-left: 12px solid #0d0d71;
}

input[type="reset"] {
  display: none;
}

@media screen and (min-width: 700px) {
  /* remember to change max/min 1024 */
  input[type="reset"] {
  display: inline-block;
}

}


@media screen and (min-width: 1024px) {
  /* remember to change max/min 1024 */
  .pages {
    margin-left: auto;
    margin-right: auto;
  }
}