body {
  text-align: center;
}

.hidden {
  display: none;
}

.pages {
  text-align: left;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #000;
}

p {
  /*max-width: 500px;*/
}